@import "@/styles/theme.scss";
.userCenter-header {
  //   widows: 100%;
  height: 310px;
  @extend .alignRow;
  justify-content: space-between;
  @extend .vcenter;

  background: url("https://www.cbpc.ltd/ccgold/static/banner.svg") no-repeat;
  background-size: cover;

  padding: 0 20px;
  .setting {
    color: $white;
  }
}
