@import "@/styles/theme.scss";

$fontSize: $heading-3-size;

.cPrice {
  min-width: 38px;
  &_retail {
    color: $yellow;
    font-family: priceFont;
    // position: relative;
    // top: 1px;
    // padding: 0;
    // margin: 0;
    font-size: $fontSize;
    // text-align: center;
  }

  &_counter {
    // color: $yellow;
    font-family: priceFont;
    font-size: -1 + $fontSize;
    color: $midGrey;
    top: 2px;
    position: relative;
    padding: 0 3px;
    margin: 0;
    text-decoration: line-through;
  }
}

.direction {
  @extend .alignColumn;
  align-items: center;
  .counter {
    margin-top: 14px;
  }
}
