@import "@/styles/theme.scss";

$itemSize: 433px;

.floatPanel {
  position: absolute;
  left: 0;
  top: 0;
}

.couponItem {
  margin: 40px 40px 0 40px;
  padding: 54px 0px 37px 5px;
  border: 1px solid $borderColorGrey;

  &:nth-child(2n) {
    margin-left: 0;
  }

  width: 670px;
  height: 304px;
  @extend .alignRow;
  justify-content: center;

  .img {
    width: 180px;
    height: 180px;
    margin-right: 13px;
    @extend .center;

    img {
      width: 100%;
      padding: 20px 5px;
    }

    &:hover {
      transform: scale(1.1);
    }

    transition: 0.5s transform;
    position: relative;

    .invalid {
      position: absolute;
      background-color: rgba(0, 0, 0, 0.5);
      @extend.center;
      color: $white;
      @extend .floatPanel;
      width: 100%;
      height: 100%;

      .circle {
        width: 100px;
        height: 100px;
        @extend .center;
        // line-height: 20px;
        // font-weight: bold;
        border-radius: 50%;
        background-color: rgba(0, 0, 0, 0.6);
        font-size: $heading-4-size;
        // z-index: -1;
      }
    }
  }

  .content {
    .title {
      width: 327px;
      color: $mainTitle;
      font-size: $fontSizeBase;
      margin-bottom: 16px;
      font-family: "Microsoft Yahei";
    }

    .tips {
      font-size: 14px;
      font-family: "PingFang SC";
    }

    .style {
      @extend .alignRow;
      margin: 11px 0 10px 0;

      .progress {
        width: 310px;
        height: 18px;
        border-radius: 25px;
        background-color: #d2ba7e;
        position: relative;
        //   z-index: 1;

        .active {
          position: absolute;
          height: 18px;
          left: 0;
          top: 0;
          border-radius: 25px;
          background: $red;
          // $midYellow;
          // border: 1px solid $white;
          @extend .center;
        }
      }

      .rest {
        margin-left: 25px;
        font-size: $fontSizeSmall;
      }
    }

    .action {
      font-size: 18px;
      @extend .alignRow;
      padding-bottom: 12px;
    }

    .btn {
      display: flex;
      justify-content: flex-end;
    }
  }

  &:hover {
    box-shadow: 6px 6px 16px 0px rgba(0, 0, 0, 0.08);
  }
}
