@import "@/styles/theme.scss";

.floatPanel {
  position: absolute;
  left: 0;
  top: 0;
}

.couponItem {
  margin: 10px;
  padding: 15px;
  @extend .alignRow;
  background: $white;

  .img {
    margin-right: 30px;
    @extend .center;
    width: 180px;
    .img_item {
      width: 180px;
      height: 180px;
    }

    position: relative;

    .invalid {
      position: absolute;
      background-color: rgba(0, 0, 0, 0.5);
      @extend.center;
      color: $white;
      @extend .floatPanel;
      width: 100%;
      height: 100%;

      .circle {
        width: 120px;
        height: 120px;
        @extend .center;
        border-radius: 50%;
        background-color: rgba(0, 0, 0, 0.6);
        font-size: $heading-4-size;
      }
    }
  }

  .content {
    flex: 1;
    @extend .alignColumn;

    .title {
      color: $mainTitle;
      font-size: $fontSizeBase;
      margin-bottom: 16px;
      font-family: "Microsoft Yahei";
    }

    .tips {
      font-size: 14px;
      font-family: "PingFang SC";
    }

    .action {
      @extend .alignRow;
      justify-content: space-between;
      padding-bottom: 12px;
      align-items: center;
      .action_title {
        font-size: $fontSizeNormal;
      }
      .status {
        @extend .alignColumn;
        flex: 1;
        margin-left: 40px;
        .btn {
          display: flex;
          justify-content: flex-end;
        }

        .style {
          @extend .alignRow;
          margin-top: 10px;
          flex: 1;
          $progressSize: 14px;
          .progress {
            width: 100%;
            height: $progressSize;
            border-radius: $progressSize;
            position: relative;
            border: 1px solid $yellow;

            .active {
              position: absolute;
              height: $progressSize;
              left: 0;
              top: 0;
              border-radius: $progressSize;
              background: $yellow;
              @extend .center;
            }
          }

          .rest {
            margin-left: 25px;
            font-size: $fontSizeSmall;
            width: 180px;
            text-align: right;
          }
        }
      }
    }
  }
}
