@import "@/styles/theme.scss";

.floatPanel {
  position: absolute;
  left: 0;
  top: 0;
}

.couponItem {
  margin: 10px;
  padding: 15px 0;
  @extend .alignRow;
  background: $white;

  .img {
    margin-right: 30px;
    @extend .center;
    width: 180px;
    .img_item {
      width: 180px;
      height: 180px;
    }

    position: relative;

    .invalid {
      position: absolute;
      background-color: rgba(0, 0, 0, 0.5);
      @extend.center;
      color: $white;
      @extend .floatPanel;
      width: 100%;
      height: 100%;

      .circle {
        width: 120px;
        height: 120px;
        @extend .center;
        border-radius: 50%;
        background-color: rgba(0, 0, 0, 0.6);
        font-size: $heading-4-size;
      }
    }
  }

  .content {
    flex: 1;
    .title {
      color: $mainTitle;
      font-size: $fontSizeBase;
      margin-bottom: 16px;
      font-family: "Microsoft Yahei";
    }

    .tips {
      font-size: 14px;
      font-family: "PingFang SC";
    }

    .style {
      @extend .alignRow;
      margin: 11px 0 10px 0;

      $progressSize: 14px;
      .progress {
        width: 310px;
        height: $progressSize;
        border-radius: $progressSize;
        position: relative;
        border: 1px solid $yellow;

        .active {
          position: absolute;
          height: $progressSize;
          left: 0;
          top: 0;
          border-radius: $progressSize;
          background: $yellow;
          @extend .center;
        }
      }

      .rest {
        margin-left: 25px;
        font-size: $fontSizeSmall;
      }
    }

    .action {
      @extend .alignRow;
      padding-bottom: 12px;
      align-items: center;
      .action_title {
        font-size: $fontSizeNormal;
      }
    }

    .btn {
      display: flex;
      justify-content: flex-end;
    }
  }
}
