@import "@/styles/theme.scss";

.user_order {
  width: 100%;
  height: 100%;
  background-color: $bg;
  @extend .alignColumn;

  .order_detail {
    flex: 1;
    position: fixed;
    top: 85px;
    left: 0;
  }

  $imgSize: 48px;
  $imgPadding: 12px;

  .at-list__item {
    height: 100 + $imgSize;
    &--thumb {
      .item-thumb {
        margin-right: $imgPadding;
        width: 2 * $imgSize;
        height: 2 * $imgSize;
      }
    }
    &-content {
      margin-right: 0;
      .item-content__info {
        &-subtitle {
          color: $subTitle;
          font-size: $heading-4-size;
        }
        &-title {
          font-size: $heading-4-size;
        }
      }
    }
  }
}
