@import "@/styles/theme.scss";

.special-page__panel {
  .head {
    position: relative;
    background-image: url("https://www.cbpc.ltd/ccgold/static/special_panel.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 684px;
    .img {
      width: 100%;
      height: unset;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
    }
    .unlucky {
      filter: grayscale(1);
    }
    .content {
      text-align: center;
      font-size: $fontSizeBase;
      color: $mainTitle;
      padding: 90px 0 0 0;
      color: $yellow;

      // 标题
      .content-title {
        @extend .center;
        font-size: $fontSizeNormal;
        .right {
          @extend .alignColumn;
          justify-content: space-between;
          width: 80px;
          margin: 0 14px;
          .top {
            /* prettier-ignore */
            border-top: 2PX solid;
            border-image: linear-gradient(90deg, #dca45c 0%, #ebe7c5 100%) 1;
          }
          .btm {
            @extend .top;
            margin-top: 10px;
            width: 50px;
          }
        }
        .left {
          @extend .right;
          flex-direction: column-reverse;
          transform: scale(-1);
          .btm {
            margin: 0 0 10px 0;
          }
        }
      }

      // 预约结果
      .detail {
        @extend .alignRow;
        justify-content: center;
        align-items: center;
        height: 250px;
        width: 80%;
        margin: 0 auto;
        /* prettier-ignore */
        border-bottom: 3PX solid;
        border-image: linear-gradient(90deg, #fff, #e7cfa6, #fff) 1;
        font-size: $fontSizeBase;
        .grass {
          &Left,
          &Right {
            width: 70px;
          }
          &Left {
            transform: scaleX(-1);
          }
        }
        .result {
          margin: 0 50px;
          @extend .alignColumn;
          .title {
            font: {
              size: 20px * $hd;
              weight: bold;
            }
          }
          .code,
          .desc {
            margin-top: 10px;
            color: $yellow;
          }

          background-image: -webkit-linear-gradient(top, #f3e6cb, #af6c00);
          background-clip: text;
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
        }
      }

      // 底部文字

      .tips {
        text-align: center;
        margin-top: 40px;
        font-size: $fontSizeNormal;
        color: $yellow;
        &__main {
          display: block;
          width: 100%;
          text-align: center;
        }
      }
    }
  }
}
