@import "@/styles/theme.scss";

.detail_content {
  color: $mainTitle;

  .at-tabs {
    &-pane {
      padding: 34px 0;

      .goodsDetail {
        @extend .alignColumn;
        .img {
          width: 100%;
          height: auto;
        }
      }

      .goods_detail_container {
        .title,
        .bold {
          font-weight: bold;
          font-size: $fontSizeBase;
        }
        .title {
          margin-top: 20px;
        }
        .content {
          margin: 10px 0;
          font-size: $fontSizeBase;
          display: inline-block;
        }
      }
    }
  }
}
