@import "@/styles/theme.scss";
@import "~taro-ui/dist/style/components/tabs.scss";

.detail_page_content {
  color: $mainTitle;
  .at-tabs {
    &__item {
      border: 1px solid $mainTitle;
      // padding: 10px 12px;
      &-underline {
        height: 0;
      }
      &--active {
        background: $mainTitle;
        color: $white;
      }
    }
    &-pane {
      padding: 34px 0;
      // height: auto;

      .goodsDetail {
        @extend .alignColumn;
        .img {
          width: 100%;
          height: auto;
        }
      }

      .goods_detail_container {
        .title,
        .bold {
          font-weight: bold;
          font-size: $fontSizeBase;
        }
        .title {
          margin-top: 20px;
        }
        .content {
          margin: 10px 0;
          font-size: $fontSizeBase;
          display: inline-block;
        }
      }
    }
  }
}
