@import "~taro-ui/dist/style/variables/default.scss";
@import "~taro-ui/dist/style/mixins/index.scss";
@import "@/styles/theme.scss";

.cbpm-tabs {
  width: 100%;
  height: 100%;
  overflow: hidden;
  &__item {
    position: relative;
    flex: 1;
    color: $at-tabs-color;
    font-size: $at-tabs-font-size;
    text-overflow: ellipsis;
    overflow: hidden;
    /* prettier-ignore */
    border: 1PX solid $mainTitle;
    padding: 10px 12px;

    &:first-child {
      border-radius: 4px 0 0 4px;
    }
    &:last-child {
      border-radius: 0 4px 4px 0;
    }

    &--active {
      background: $mainTitle;
      color: $white;
    }
  }
}
