@import "@/styles/theme.scss";
@import "~taro-ui/dist/style/components/icon.scss";

.link_item {
  color: $yellow;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  font: {
    size: $fontSizeNormal;
    weight: normal;
  }

  .icon {
    width: 50px;
    height: 50px;
    padding-right: 16px;
  }
}
