@import "@/styles/theme.scss";
.cart-page-empty {
  padding: 100px;
  .imgWrapper {
    @extend .hcenter;
  }
  .title {
    font-size: $heading-4-size;
    color: $subTitle;
    margin: 40px 0 90px 0;
    text-align: center;
  }
}
