@import "@/styles/theme.scss";
@import "~taro-ui/dist/style/components/icon.scss";
@import "../card/index.scss";

.detail_page_spec {
  &_selltime {
    margin-top: 30px;
    font-size: $fontSizeSmall;
    color: $disabledTitle;
  }

  &_item {
    font-size: $fontSize30;
    @extend .alignRow;
    &_title {
      margin-right: 30px;
      color: $subTitle;
    }
    .at-icon {
      color: $subTitle;
    }

    &_spec {
      flex: 1;
      @extend .alignRow;
      justify-content: space-between;
      align-items: center;
      color: $mainTitle;
    }

    .serviceList {
      @extend .alignRow;
      flex: 1;
      align-items: center;
      justify-content: space-between;
      .services {
        @extend .alignRow;
        flex: 1;
        // justify-content: space-between;
        &Item {
          margin-right: 40px;
        }
      }
    }
  }
}

.specPanel {
  $imgSize: 180px;
  &_title {
    @extend .alignRow;
    height: $imgSize;
    .img {
      width: $imgSize;
      height: 100%;
      background: $white;
      margin-right: 36px;
    }
    .detail {
      @extend .alignColumn;
      justify-content: space-between;
      .storage {
        color: $disabledTitle;
        font-size: $fontSizeSmall;
      }
      .goodsname {
        font-size: $fontSizeBase;
      }
    }
  }

  // 规格列表
  &_specs {
    &_title {
      font-weight: bold;
      margin: 40px 0 16px 0;
      color: $mainTitle;
      font-size: $fontSize30;
    }
    &_list {
      @extend .alignRow;
      flex-wrap: wrap;

      &_item {
        @extend .center;
        margin-right: 20px;
        max-width: 240px;
        width: auto;
        height: 56px;
        color: $subTitle;
        /* prettier-ignore */
        border: 1PX solid $borderColorGrey;
        border-radius: $border-radius;
        padding: 0 34px;
        font-size: $font-size-sm;
        &Active {
          color: $yellow;
          border-color: $yellow;
        }
      }
    }
  }
}

.specServices {
  &_title {
    text-align: center;
    padding-bottom: 24px;
    font-size: $fontSizeBase;
    /* prettier-ignore */
    border-bottom: 1PX solid $borderColorGrey;
  }
  &_item {
    margin-top: 45px;
    @extend .alignRow;
    .icon {
      margin-right: 13px;
      width: 56px;
      height: 56px;
    }
    &_service {
      flex: 1;
      &Title {
        font-size: $fontSize30;
        color: $mainTitle;
        margin-bottom: 12px;
        font-weight: bold;
      }
      &Subtitle {
        font-size: $fontSizeSmall;
        color: $subTitle;
      }
    }
  }
}
