@import "@/styles/theme.scss";

.cart-page {
  width: 100%;
  height: 100%;
  background: $bg;

  .shop-item {
    .shop-name {
      font-size: 32px;
      color: #2c2e36;
      margin: 1em 0;
    }

    .goods-item {
      display: flex;

      .goods-img {
        flex: 1;
        width: 200px;
        height: 200px;
      }

      .goods-desc {
        flex: 1;
      }
    }
  }

  .summary {
    background: $white;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
    margin-bottom: 10px;
    font-size: 32px;
  }
}
