.cart-page {
  width: 100%;
  height: 100%;

  .shop-item {
    .shop-name {
      font-size: 32px;
      color: #2C2E36;
      margin: 1em 0;

    }

    .goods-item {
      display: flex;

      image {
        width: unset;
        height: unset;
      }

      .goods-img {
        flex: 1;
        width: 200px;
        height: 200px;
      }

      .goods-name {}

      .goods-desc {
        flex: 1;
      }

      .sub {
        .label {}

        .value {}
      }

    }
  }
}