@import "@/styles/theme.scss";

.item {
  flex: 1;
  background-color: $white;
  display: inline-block;
  .img {
    width: 100%;
  }
  .taro-img {
    width: unset;
    height: unset;
  }
  .detail {
    @extend .alignColumn;
    @extend .vcenter;
    .title {
      font-size: $fontSizeSmall;
      text-align: center;
      padding: 0;
      max-width: 200px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    .price {
      text-align: center;
    }
  }
}
