@import "@/styles/theme.scss";

.newProduct {
  margin-top: $componentSpan;
  padding-bottom: 56px;
  background-color: $white;
  .grid {
    @extend .alignColumn;
    .row {
      display: flex;
    }
  }
}
