$black: #000;
$bg: #f8f9fb;
$splitLine: #eceff3;
$borderColorGrey: #e4e5e6;

// 白
$white: #fff;
$extrmeLightWhite: #fafafa;
$lightWhite: #ddd;
$midWhite: #f5f5f5;
$darkWhite: #fbfcfc;

$panelHead: $darkWhite;

// 红
$red: #e60012;

$darkRed: fade($red, 85%);
$midRed: fade($red, 75%);
$lightRed: fade($red, 65%);

// 黄
$yellow: #b98a4e;
$lightYellow: #ceb277;

$extrmeLightYellow: #e4bd8b;
$midYellow: #d2ba7e;
$darkYellow: #cdba8b;

//蓝
$blue: #69c;
$lightBlue: fade($blue, 85%);
$midBlue: fade($blue, 75%);
$darkBlue: fade($blue, 65%);

//灰
$grey: #a7a8ad;
$darkGrey: fade($grey, 85%);
$midGrey: fade($grey, 75%);
$lightGrey: fade($grey, 65%);
//找回密码 placeholder #A7A8AD 100%

$green: #3bd199;

// 文字颜色
$primaryFontColor: $yellow;
$title: #333;
$mainTitle: #2c2e36;
$subTitle: #686b77;
$disabledTitle: #a7a8ad;
$primaryColor: $yellow;

// 表格颜色
$tableHeadColor: $midWhite;
$tableBorderColor: $lightWhite;

// 链接
$linkColor: $yellow;

// 背景颜色
$shadowColorWhite: $midWhite;

//边框颜色
$borderColorWhite: $midWhite;

$boxShadow: 3px 2px 17px 0px rgba(0, 0, 0, 0.05);

// 渐变
$yellowGardiant: linear-gradient(-90deg, $yellow, $midYellow);
$lightYellowGardiant: linear-gradient(90deg, $lightYellow, $extrmeLightYellow);
$blackGreyGardiant: linear-gradient(140deg, $mainTitle 20%, #575b66 80%);

$blackGardiant: linear-gradient(180deg, $mainTitle 0%, #575b66 100%);
$greyGardiant: linear-gradient(
  180deg,
  rgba(44, 46, 54, 0.8) 0%,
  rgba(86, 90, 101, 0.8) 100%
);

$redGardiant: linear-gradient(90deg, $red 0%, #ff5b1e 100%);
