$componentSpan: 16px;

$hd: 2 !default; // 基本单位

$border-radius: 4px;
/* Font */
$font-size-xs: 10px * $hd; // 非常用字号，用于标签
$font-size-sm: 12px * $hd; // 用于辅助信息
$font-size-base: 14px * $hd; // 常用字号
$font-size-lg: 16px * $hd; // 常规标题
$font-size-xl: 18px * $hd; // 大标题
$font-size-xxl: 20px * $hd; // 用于大号的数字

$fontSizeLarge: $font-size-xxl; //40
$fontSizeMid: $font-size-xl; //36
$fontSizeBase: $font-size-lg; //32
$fontSizeNormal: 13px * $hd;
$fontSizeSmall: $font-size-xs; //24

$heading-1-size: $font-size-xxl; //40
$heading-2-size: $font-size-xl; //36
$heading-3-size: $font-size-lg; //32
$heading-4-size: $font-size-base; //28
$heading-5-size: $font-size-sm; //24

$fontSize30: 15px * $hd;
