@import "@/styles/theme.scss";
.detail_page_shop {
  color: $mainTitle;
  .title {
    font-size: $fontSizeBase;
    @extend .alignRow;
    // justify-content: space-between;
    align-items: center;
    .img {
      width: unset;
      height: 70px;
    }
  }
  .detail {
    @extend .alignRow;
    font-size: $fontSizeBase;
    justify-content: space-between;
    .score {
      margin-left: 5px;
      color: $yellow;
    }
  }
}
