@import "@/styles/theme.scss";

.wrap {
    width: 1460px;
    overflow: hidden;
    padding: 50px 40px 43px 43px;

    .detail {
        display: flex;
        position: relative;
        padding: 50px 0 40px 0;

        @extend .alignRow;
        border-top: 1px solid rgba(212, 212, 212, 1);

        .goods {
            width: 360px;
            margin-right: 26px;
            overflow: hidden;
            height: 360px;

            // &:hover {
            //     transform: scale(1.1);
            // }

            // transition: 0.5s transform;
            // position: relative;
        }

        .goodsInfo {
            width: 1061px;

            @extend .alignColumn;
            // margin-left: 0 20px 0 40px;
            -ms-flex: 1;
            flex: 1;
            max-width: 1061px;

            .goodsMain {
                text-align: left;

                .goodsTitle {

                    height: 30px;
                    line-height: 38px;
                    color: rgba(44, 46, 54, 1);
                    font-size: $heading-3-size;
                    font-weight: 900;
                }

                .thumbnail {
                    margin: 20px 0 40px;
                    text-indent: 45px;
                    color: #686B77;
                    font-size: 14px;
                }

                .title {

                    .info {
                        height: auto;
                        margin: 1em 0;
                        @extend .alignRow;
                        align-items: flex-end;

                        .name {
                            min-width: 120px;
                            letter-spacing: 0.1em;
                            color: #A7A8AD;
                        }

                        .value {
                            margin-left: 20px;
                            padding-right: 10px;
                            color: #686B77;

                            .price {
                                font-size: $heading-2-size;
                            }
                        }
                    }

                }

            }

            .type {
                color: $white;
                @extend .alignRow;
                width: 980px;
                height: 56px;
                margin: 12px 20px;
                background: $blackGardiant;
                text-align: center;
                margin: 20px 0;

                .icon {
                    margin: 12px 20px;
                    font-size: 32px;
                    color: '#fff';
                    border: 2px;

                }

                .limitTitle {
                    margin: 12px 20px;
                    @extend .alignRow;
                    color: rgba(236, 216, 188, 1);
                }

                .countime {
                    // position: relative;
                    // height: 50%;
                    // margin: 18px 0;
                    padding-left: 20px;

                    :global {
                        .ant-statistic-content {
                            font-size: unset;

                            &-value {
                                color: $midRed;
                                font-size: $fontSizeLarge;
                            }
                        }
                    }
                }

                .countime.ant-statistic {
                    position: absolute;
                    left: 0;
                    top: 0;
                    width: 100%;
                    height: 100%;
                }

                .button {
                    position: absolute;
                    right: 20px;
                }
            }

        }
    }

}