@import "@/styles/theme.scss";
.item {
  display: flex;
  @extend .alignColumn;
  background: $white;

  padding: 35px 15px;
  margin-bottom: 20px;

  .detail {
    display: flex;
    @extend .alignRow;

    .goods {
      width: 215px;
      height: 200px;
      margin-right: 15px;
      .img {
        width: 200px;
        height: 200px;
      }
    }

    .goodsInfo {
      @extend .alignColumn;
      flex: 1;

      .goodsMain {
        text-align: left;

        .goodsTitle {
          height: 30px;
          line-height: 38px;
          color: rgba(44, 46, 54, 1);
          font-size: $heading-3-size;
          font-weight: 900;
        }

        .title {
          margin-top: 20px;
          font-size: $heading-4-size;
          .info {
            height: auto;
            @extend .alignRow;

            .name {
              width: 120px;
              color: $mainTitle;
            }

            .value {
              margin-left: 15px;
              color: $subTitle;
            }
          }
        }
      }
    }
  }

  .description {
    padding-bottom: 10px;
    color: $subTitle;
  }

  .type {
    display: flex;
    @extend .alignRow;
    justify-content: space-between;
    margin-top: 10px;
    .time {
      flex: 1;
      //   min-width: 120px;
      font-size: $heading-4-size;
    }
  }
}
