@import "@/styles/theme.scss";

.cate-menu {
  padding-top: 40px;
}

.cate-menu__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 40px;
  height: 50px;
  border: 0 solid transparent;

  /* prettier-ignore */
  border-left-width: 8Px;

  padding: 10px 0;

  &--active {
    border-left-color: $yellow;
    background: $white;
  }

  &-name {
    margin-left: -6px;
    width: 100%;
    color: #333;
    font-size: $font-size-base;
    text-align: center;

    &--active {
      color: $yellow;
    }
  }
}
