@import "@/styles/theme.scss";

.mobileWithCode {
  .at-input__title {
    width: unset;
  }
  .icon {
    width: 35px;
    height: 35px;
  }
  .at-icon {
    color: $yellow;
  }
  .at-input__icon-alert {
    color: #ff4949;
  }
  .sendSn {
    color: $blue;
    font-size: $heading-5-size;
  }
  .disabled {
    color: $grey;
  }

  .at-modal {
    &__overlay {
      background: none;
    }
    &__container {
      width: 100%;
    }
  }
}
