@import "@/styles/theme.scss";
@import "~taro-ui/dist/style/components/icon.scss";

.mobileWithCode {
  .item {
    @extend .alignRow;
    align-items: center;

    .icon {
      /* prettier-ignore */
      width: 25PX;
      /* prettier-ignore */
      height: 25PX;
    }

    .at-icon {
      @extend .icon;
      color: $yellow;
    }

    .at-input__title {
      width: unset;
    }

    .at-input__icon-alert {
      color: #ff4949;
    }

    .sendSn {
      color: $blue;
      font-size: $heading-5-size;
    }

    .disabled {
      color: $grey;
    }
  }

  .at-modal {
    &__overlay {
      background: none;
    }

    &__container {
      width: 100%;
      height: 50vh;
      background-color: rgba(0, 0, 0, 0.5);
    }
  }
}