@import "@/styles/theme.scss";

$imgSize: 48px;
$imgPadding: 12px;
.detail {
  min-height: 100vh;
  width: 100%;
  height: 100%;
  background-color: $bg;
  @extend .alignColumn;
  .status {
    height: 40vh;
    background-color: $white;
    margin-bottom: 20px;
    width: 100%;
    @extend .center;
    flex-direction: column;
    .img {
      width: 273px;
      height: 180px;
    }
    .name {
      color: $subTitle;
      margin-top: 15px;
      font-size: $fontSizeMid;
    }
  }
  .goods {
    background-color: $white;
    padding: 20px 32px;
    .item {
      @extend .alignRow;
      padding: 10px 0;
      font-size: $fontSizeNormal;
      .title {
        width: 150px;
        text-align: right;
        font-size: $fontSizeNormal;
      }
    }
  }

  .at-list {
    margin-bottom: 20px;
    padding: 20px 32px;
    background: $white;

    .noBorder {
      &::after {
        border-bottom: none;
      }
    }

    &__item {
      height: 100 + $imgSize;

      @extend .alignColumn;

      &--thumb {
        .item-thumb {
          margin-right: $imgPadding;
          width: 2 * $imgSize;
          height: 2 * $imgSize;
        }
      }

      &-content {
        margin-right: 0;

        .item-content__info {
          &-subtitle {
            margin-top: 10px;
            color: $subTitle;
            font-size: $heading-4-size;
          }

          &-title {
            font-size: $heading-4-size;
          }
        }
      }
    }
  }
}
