@import "@/styles/theme.scss";
.CCard {
  padding: 24px;
  background-color: $white;
  .head {
    @extend .alignRow;
    justify-content: space-between;
    align-items: flex-end;
    .title {
      font: {
        // weight: bold;
        size: $fontSizeBase;
      }
      color: $mainTitle;
    }
    .extra {
      color: $subTitle;
      font-size: $fontSizeNormal;
    }
    padding-bottom: 24px;
    /* prettier-ignore */
    border-bottom: 1PX solid $borderColorGrey;
  }
  .content {
    padding: 50px 0 30px 0;
  }
}
