@import "@/styles/theme.scss";
@import "~taro-ui/dist/style/components/checkbox.scss";

.response {
  &Notice {
    .layout {
      &-header__title {
        text-align: center;
        padding-right: unset;
        color: $mainTitle;
      }

      &-body {
        padding: 0 40px;
      }
    }
  }

  $iconSize: 30px;

  &__title {
    .at-checkbox {
      &:before,
      &:after {
        content: unset;
      }

      &__option {
        padding-left: 10px;

        &-wrap {
          padding-right: 5px;
        }
      }

      &__icon-cnt {
        margin-right: 0;
        width: $iconSize;
        height: $iconSize;
        min-width: $iconSize;
        background-color: $yellow;
      }

      &__title {
        font-size: $font-size-xs;
        color: $yellow;
        /* prettier-ignore */
        border-bottom: 1PX solid $yellow;
      }
    }
  }
}
