@import "@/styles/theme.scss";

.response {
  &Notice {
    color: $subTitle;
    .title {
      text-align: center;
      color: $mainTitle;
      margin-top: 48px;
      font-weight: bold;
    }
    .actions {
      @extend .alignRow;
      justify-content: space-around;
      margin: 80px 0 40px 0;
      .btn {
        width: 240px;
        height: 72px;
        font-size: $font-size-sm;
      }
    }
    .layout {
      &-header__title {
        text-align: center;
        padding-right: unset;
        color: $mainTitle;
      }
      &-body {
        padding: 0 40px;
      }
    }
  }

  $iconSize: 30px;
  &__title {
    .at-checkbox {
      &:before,
      &:after {
        content: unset;
      }
      &__option {
        padding-left: 10px;
        &-wrap {
          padding-right: 5px;
        }
      }
      &__icon-cnt {
        margin-right: 0;
        width: $iconSize;
        height: $iconSize;
        min-width: $iconSize;
      }
      &__title {
        font-size: $font-size-sm;
        color: $yellow;
        /* prettier-ignore */
        border-bottom: 1PX solid $yellow;
      }
    }
  }
}
