@import "@/styles/theme.scss";

.responseNotice {
  color: $subTitle;

  .clause_text {
    text-indent: 2em;
  }
  .clause_title {
    text-align: center;
    color: $mainTitle;
    font-weight: bold;
  }

  .response__actions {
    @extend .alignRow;
    justify-content: space-around;
    margin: 80px 0 40px 0;
    width: 100%;
  }
}
