@import "@/styles/theme.scss";

$timewidth: 68px;

.logisticsWrap {
  // width: 100%;
  padding: 0 0 20px 14px;

  .information {
    overflow-y: auto;
    height: 50vh;
    .address {
      @extend .alignRow;
      align-items: center;
      color: $mainTitle;
      .wrap {
        @extend .alignColumn;
        align-items: center;
        justify-content: space-between;
        margin-right: 24px;
        text-align: center;
        font-size: $fontSizeSmall;
        .time {
          width: $timewidth;
          font-size: $fontSizeBase;
        }
        .date {
          color: $grey;
        }
      }
      .addressText {
        width: 70%;
        text-align: left;
        line-height: 30px;
      }
    }

    .line {
      height: 20px;
      border-left: 1px solid #d8d8d8;
      margin: 5px 0 5px $timewidth / 2;
    }
  }
}
