@import "@/styles/theme.scss";
.cMaginify {
  position: relative;
  background: $white;
}
.item-gallery {
  &__swiper {
    // NOTE RN 的 Swiper 需要有高度，否则会报错
    height: 750px;
    &-item {
      display: flex;
      flex-direction: row;
      justify-content: center;
      &-img {
        width: 750px;
        height: 750px;
      }
    }
  }
  &__indicator {
    position: absolute;
    right: 30px;
    bottom: 30px;
    z-index: 2;
    @extend .alignRow;
    justify-content: center;
    align-items: center;
    width: 58px;
    height: 30px;
    background: rgba(44, 46, 54, 0.4);
    border-radius: 15px;
    &-txt {
      color: $white;
      font-size: $font-size-sm;
    }
  }
  &__action {
    position: absolute;
    right: 0;
    top: 30px;
    z-index: 2;
    @extend .alignRow;
    justify-content: flex-end;
    align-items: center;

    &__item {
      background: rgba(44, 46, 54, 0.4);
      /* prettier-ignore */
      width:30PX;
      /* prettier-ignore */
      height:30PX;
      border-radius: 50%;
      @extend .center;
      color: $white;
      /* prettier-ignore */
      font-size: 18PX;
      margin-right: 30px;
    }
  }
}
