@import "@/styles/theme.scss";
.detail_page_comment {
  color: $mainTitle;
  .title {
    font-size: $fontSizeBase;
    @extend .alignRow;
    justify-content: space-between;
  }
  .item {
    padding: 24px;
    margin-top: 24px;
    /* prettier-ignore */
    border: 1PX solid $splitLine;
    border-radius: $border-radius;
    @extend .alignRow;
  }
  .avatar {
    margin-right: 10px;
  }
  .detail {
    flex: 1;
    .username {
      font-size: $fontSizeNormal;
      color: $mainTitle;
      @extend .alignRow;
      justify-content: space-between;
      .time {
        color: $subTitle;
      }
    }
    .content {
      font-size: $fontSizeNormal;
      color: $subTitle;
    }
  }
}
