@import "@/styles/theme.scss";
.detail_page_comment {
  color: $mainTitle;
  .title {
    font-size: $fontSizeBase;
    @extend .alignRow;
    justify-content: space-between;
  }
  .commentItem {
    padding: 24px;
    margin-top: 24px;
    /* prettier-ignore */
    border: 1PX solid $borderColorGrey;
    border-radius: $border-radius;
    font-size: $fontSizeNormal;
    @extend .alignRow;
    .avatar {
      //   width: 50px;
      //   height: 50px;
      margin-right: 10px;
    }

    .detail {
      flex: 1;
      .username {
        color: $mainTitle;
        @extend .alignRow;
        justify-content: space-between;
        .time {
          color: $subTitle;
        }
      }
      .content {
        color: $subTitle;
      }
    }
  }
}
