@import "@/styles/theme.scss";
.search_sort {
  @extend .alignRow;
  justify-content: space-between;
  color: $text-color;
  width: 100%;
  line-height: 60px;
  position: fixed;
  top: 80px;
  left: 0;
  font-size: $heading-4-size;
  background: $white;
  padding: 0 20px;
  z-index: 2;
  /* prettier-ignore */
  box-shadow: 0 1PX 1PX rgba(0, 0, 0, 0.1);

  &Small {
    top: 0;
  }
  .item {
    flex: 1;
    display: flex;
    align-items: center;
    &Active {
      color: $yellow;
    }
    .img {
      /* prettier-ignore */
      width: 14PX;
      /* prettier-ignore */
      height: 14PX;
      margin-left: 5px;
      transform: rotate(0deg);
      transition: transform 0.3s linear;
    }
    .asc {
      transform: rotate(180deg);
    }
  }
}
