@import "@/styles/theme.scss";

.cButton {
  &gardient {
    color: $white;
    border: none;
    background: $yellowGardiant;
  }
  &blackgardient {
    color: $white;
    border: none;
    background: $blackGardiant;
  }
}

.at-button__text {
  display: flex;
  align-items: center;
}
