@import "@/styles/theme.scss";

.cButton {
  &gardient {
    color: $white;
    border: none;
    background: $yellowGardiant;
  }

  &blackgardient {
    color: $white;
    border: none;
    background: $blackGardiant;
  }

  &yellow {
    color: $yellow;
    background: $white;
    &::after {
      border-color: $yellow;
    }
  }

  &small {
    min-width: 180px;
    height: 72px;
    line-height: 72px;
    font-size: $font-size-base;
  }
  &Rect {
    border-radius: 0;
    &::after {
      border-radius: 0;
    }
  }
}

.at-button__text {
  display: flex;
  align-items: center;
}
.at-button {
  margin: 0 10px;
}
