@import "@/styles/theme.scss";

.cButton {
  &gardient {
    color: $white !important;
    border: none !important;
    background: $yellowGardiant !important;
  }

  &blackgardient {
    color: $white !important;
    border: none !important;
    background: $blackGardiant !important;
  }

  &yellow {
    color: $yellow !important;
    background: $white !important;
    &::after {
      border-color: $yellow !important;
    }
  }

  &small {
    min-width: 180px !important;
    height: 72px !important;
    line-height: 72px !important;
    font-size: $font-size-base !important;
  }
  &Rect {
    border-radius: 0 !important;
    &::after {
      border-radius: 0 !important;
    }
  }
}

.at-button__text {
  display: flex;
  align-items: center;
}
.at-button {
  margin: 0 10px;
  height: 100%;
}
