@import "@/styles/theme.scss";
@import "~taro-ui/dist/style/components/icon.scss";

.buytime {
  @extend .alignRow;
  width: 100%;
  @extend .center;
  height: 88px;
  border: 1px solid $borderColorGrey;
  box-shadow: 6px 6px 16px 0px rgba(0, 0, 0, 0.08);

  .prev,
  .next {
    cursor: pointer;
    @extend .center;
    // width: 50px;
    width: 5vw;
    height: 100%;
    border: 1px solid $borderColorGrey;
    box-shadow: 6px 6px 16px 0px rgba(0, 0, 0, 0.08);
    z-index: 1;
    .at-icon {
      color: $yellow;
    }
  }

  .disabled {
    cursor: not-allowed;
  }

  .arrow {
    height: 100%;
    width: 90vw;
    overflow: hidden;
    position: relative;
    background-color: #fff;
    @extend .alignRow;

    .time {
      min-width: 170px;
      @extend .alignColumn;
      @extend .center;
      transform: translateX(-170px);
      transition: transform 0.5s;

      font-size: $fontSizeBase;

      .datename {
        font-size: $fontSizeSmall;
      }
      .title {
        font-size: $fontSizeSmall;
        color: $yellow;
      }

      &Active {
        background: $lightYellow;
        color: $white;
        box-shadow: 0 0 10px 2px #c5c5c3;
        .title {
          color: $white;
        }
      }
    }
  }
}
