@import "../../../../styles/theme.scss";
.cateList {
  background-color: $white;
  margin: -16px 0 16px 0;
  .row {
    width: 100%;
    height: 135px;
    display: flex;
    .item {
      flex: 1;
      font-size: $fontSizeBase;
      display: flex;
      justify-content: center;
      align-items: center;
      &:nth-child(2) {
        position: relative;
        &::before {
          position: absolute;
          left: 0;
          content: "";
          height: 50%;
          width: 1px;
          background-color: $lightYellow;
          transform: rotate(30deg);
        }
        &::after {
          position: absolute;
          right: 0;
          content: "";
          height: 50%;
          width: 1px;
          background-color: $lightYellow;
          transform: rotate(30deg);
        }
      }
    }
  }
}
