@import "@/styles/theme.scss";

$actionHeight: 100px;
.special-page {
  @extend .alignColumn;
  height: 100%;
  .swiperCard {
    overflow: inherit !important;
    flex: 1;
    .img {
      width: 600px;
      height: unset;
      overflow: hidden;
    }
    .swiper-slide {
      @extend .center;
    }
  }
}
