@import "@/styles/theme.scss";

$actionHeight: 100px;
.special-page {
  @extend .alignColumn;
  height: 100%;
  .swiperCard {
    overflow: inherit !important;
    flex: 1;
    width: 100%;
    .img {
      width: 80%;
      height: unset;
      overflow: hidden;
    }
    .swiper-slide {
      @extend .center;
      transition: 300ms transform;
      &-next,
      &-prev {
        transform: scale(0.9);
      }
    }
  }
}
