@import "@/styles/theme.scss";

.detail_page {
  &_title {
    font-size: $font-size-lg;
    color: $mainTitle;
  }
  &_detail {
    color: $subTitle;
    font-size: $fontSizeSmall;
    @extend .alignRow;
    justify-content: space-between;
  }
}
