@import "@/styles/theme.scss";

.detail_page_title {
  .title {
    font-size: $font-size-lg;
    color: $mainTitle;
  }
  .detail {
    color: $subTitle;
    font-size: $fontSizeSmall;
    @extend .alignRow;
    justify-content: space-between;
  }
}
