@import "@/styles/theme.scss";
@import "~taro-ui/dist/style/components/icon.scss";

.order_confirm {
  width: 100%;
  height: 100vh;
  background: $bg;

  .goods_list {
    @extend .alignColumn;
    height: calc(100vh - 90px);
    flex: 1;
    .shop {
      .icon {
        width: 24px;
        height: 24px;
        margin-right: 10px;
      }
      .title {
        font-size: $fontSizeNormal;
        color: $subTitle;
      }
      margin-bottom: 20px;
    }
    .item {
      @extend .alignColumn;
      .main {
        @extend .alignRow;
        .img {
          width: 150px;
          height: 150px;
          margin-right: 20px;
        }
        .detail {
          flex: 1;
          @extend .alignColumn;
          justify-content: space-between;
          width: calc(100% - 170px);
          .main {
            @extend .alignRow;
            justify-content: space-between;
            color: $mainTitle;
            font-size: $heading-4-size;
            .goods_name {
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
              color: inherit;
              line-height: 1.5;
              margin-right: 10px;
            }
          }
          .sub {
            @extend .alignRow;
            justify-content: space-between;
            font-size: $fontSizeNormal;
            color: $mainTitle;
          }
        }
      }

      .count {
        flex: 1;
        @extend .alignRow;
        justify-content: flex-end;
        font-size: $heading-4-size;
        color: $subTitle;
      }
    }

    .splitLine {
      margin: 15px 0;
      border-bottom: 1px solid $splitLine;
    }
    .invoice {
      margin-bottom: 16px;
      padding: 30px 34px;
      background: #fff;

      @extend .alignRow;
      justify-content: space-between;
      font-size: $heading-4-size;
      color: $subTitle;
    }
    .summary {
      margin-bottom: 16px;
      padding: 30px 34px;
      background: #fff;
      font-size: $heading-4-size;
      color: $subTitle;
      @extend .alignColumn;
      .title {
        font-size: $heading-3-size;
        padding-bottom: 15px;
        font-weight: bold;
      }
      .item {
        padding: 10px 0;
        @extend .alignRow;
        justify-content: space-between;
      }
    }
  }

  .pay {
    @extend .alignRow;
    justify-content: flex-end;
    align-items: center;
    height: 90px;
    background: $white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);

    .btn {
      background: $lightYellow;
      color: $white;
      width: 230px;
      height: 100%;
      @extend .center;
    }
  }
}
