@import "~taro-ui/dist/style/components/search-bar.scss";
@import "~taro-ui/dist/style/components/button.scss";
@import "~taro-ui/dist/style/components/icon.scss";

.searchWrap {
  .at-search-bar {
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1;
    background-color: rgba(255, 255, 255, 0);
  }

  &1 {
    .at-search-bar {
      background-color: rgba(255, 255, 255, 0.1);
    }
  }
  &2 {
    .at-search-bar {
      background-color: rgba(255, 255, 255, 0.2);
    }
  }
  &3 {
    .at-search-bar {
      background-color: rgba(255, 255, 255, 0.3);
    }
  }
  &4 {
    .at-search-bar {
      background-color: rgba(255, 255, 255, 0.4);
    }
  }
  &5 {
    .at-search-bar {
      background-color: rgba(255, 255, 255, 0.5);
    }
  }
  &6 {
    .at-search-bar {
      background-color: rgba(255, 255, 255, 0.6);
    }
  }
  &7 {
    .at-search-bar {
      background-color: rgba(255, 255, 255, 0.7);
    }
  }
  &8 {
    .at-search-bar {
      background-color: rgba(255, 255, 255, 0.8);
    }
  }
  &9 {
    .at-search-bar {
      background-color: rgba(255, 255, 255, 0.9);
    }
  }
  &10 {
    .at-search-bar {
      background-color: #fff;
    }
  }
}
