.upload {
  .size {
    width: 128px;
    height: 128px;
    margin-right: 10px;
  }
  .item {
    @extend .size;
    border-radius: 4px;
    /* prettier-ignore */
    border: 1PX dashed #aaa;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .img {
    @extend .size;
  }
}
