.upload {
  .size {
    width: 128px;
    height: 128px;
    margin-right: 10px;
  }
  .item {
    @extend .size;
    border-radius: 4px;
    border: 1px dashed #aaa;
  }
  .img {
    @extend .size;
  }
}
